[Desktop Entry]
Type=Action
Name[en_US]=Open in Terminator
Name[en]=Open in Terminator
Name[C]=Open in Terminator
TargetLocation=true
ToolbarLabel[en_US]=Open in Terminator
ToolbarLabel[en]=Open in Terminator
ToolbarLabel[C]=Open in Terminator
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Exec=launch_term %f
MimeTypes=inode/directory;
